In [40]:
# VacationPy
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import warnings
warnings.filterwarnings('ignore')
import json
# Import API key
from api_keys import g_key
input_data_file = "../citydata/cities.csv"

In [41]:
# Load City Data captuted using openweather map api
load_city_data=pd.read_csv(input_data_file)
load_city_data.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Temp,Lat,Lng,Wind Speed
0,0,tuktoyaktuk,75,CA,1569472689,81,37.40,69.44,-133.03,13.87
1,1,avarua,85,CK,1569472690,83,77.00,-21.21,-159.78,11.41
2,2,rikitea,0,PF,1569472690,71,71.65,-23.12,-134.97,8.99
3,3,ushuaia,40,AR,1569472690,56,42.80,-54.81,-68.31,17.22
4,4,mataura,100,NZ,1569472690,89,48.00,-46.19,168.86,18.99

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [42]:
# Humidity Heatmap 
gmaps.configure(api_key=g_key)
fig=gmaps.figure()
heatmap_layer=gmaps.heatmap_layer(load_city_data[['Lat','Lng']], weights=load_city_data['Humidity'], point_radius=3.0)
fig.add_layer (heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [43]:
# Filter data using the conditions
load_city_data_filtered=load_city_data[(load_city_data['Temp'] <= 80) & (load_city_data['Temp'] >= 70) 
                                       & (load_city_data['Wind Speed'] < 10) & (load_city_data['Cloudiness'] == 0)]
                                       
load_city_data_filtered['Hotel Name']="default Value"
hotel_df = load_city_data_filtered

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [32]:
# Perform API call (Please note issue having calling the API as i am getting query over the limit error)

# Starting URL for google places API Call
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
target_radius = 5000
target_type = "lodging"

print('------------------------')
print('Beginning Data Retrieval')
print('------------------------')

    
# Get Hotel data using Google Places API

for index_label, row_series in hotel_df.iterrows():
      
    target_coordinates = row_series['Lat'], row_series['Lng']
    target_search=row_series['City']

    params = {
            "location": target_coordinates,
            "keyword": target_search,
            "radius": target_radius,
            "type": target_type,
            "key": g_key
        }
    
    response = requests.get(base_url, params=params)
    places_data = response.json()
    
    print(params)
    try:
        hotel_name = places_data["results"][0]["name"]
        hotel_df.at[index_label , 'Hotel Name'] = hotel_name
    except:
        print('Hotel Data Not Found')
        pass

print('-------------------------')
print('Data Retrieval Complete')
print('-------------------------')

------------------------
Beginning Data Retrieval
------------------------
{'location': (-23.12, -134.97), 'keyword': 'rikitea', 'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyALtclN-jXfi6l7nS4QRehc-yBmIpwoBo0'}
Hotel Data Not Found
{'location': (-34.42, 19.24), 'keyword': 'hermanus', 'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyALtclN-jXfi6l7nS4QRehc-yBmIpwoBo0'}
Hotel Data Not Found
{'location': (4.94, -52.33), 'keyword': 'cayenne', 'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyALtclN-jXfi6l7nS4QRehc-yBmIpwoBo0'}
Hotel Data Not Found
{'location': (-33.93, 18.42), 'keyword': 'cape town', 'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyALtclN-jXfi6l7nS4QRehc-yBmIpwoBo0'}
Hotel Data Not Found
{'location': (38.18, -1.13), 'keyword': 'fortuna', 'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyALtclN-jXfi6l7nS4QRehc-yBmIpwoBo0'}
Hotel Data Not Found
{'location': (27.87, -0.29), 'keyword': 'adrar', 'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyALtclN-jXfi6l7nS4QRehc-yBmIpwoBo0'}
Hotel Data Not Found
{'location': (-23.7, 133.88), 'keyword': 'alice springs', 'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyALtclN-jXfi6l7nS4QRehc-yBmIpwoBo0'}
Hotel Data Not Found
{'location': (39.73, 98.49), 'keyword': 'jiuquan', 'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyALtclN-jXfi6l7nS4QRehc-yBmIpwoBo0'}
Hotel Data Not Found
{'location': (12.98, 37.77), 'keyword': 'dabat', 'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyALtclN-jXfi6l7nS4QRehc-yBmIpwoBo0'}
Hotel Data Not Found
{'location': (29.03, 21.55), 'keyword': 'jalu', 'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyALtclN-jXfi6l7nS4QRehc-yBmIpwoBo0'}
Hotel Data Not Found
{'location': (-20.3, 44.28), 'keyword': 'morondava', 'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyALtclN-jXfi6l7nS4QRehc-yBmIpwoBo0'}
Hotel Data Not Found
{'location': (35.22, 52.34), 'keyword': 'garmsar', 'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyALtclN-jXfi6l7nS4QRehc-yBmIpwoBo0'}
Hotel Data Not Found
{'location': (50.78, 121.52), 'keyword': 'genhe', 'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyALtclN-jXfi6l7nS4QRehc-yBmIpwoBo0'}
Hotel Data Not Found
{'location': (-31.97, 141.45), 'keyword': 'broken hill', 'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyALtclN-jXfi6l7nS4QRehc-yBmIpwoBo0'}
Hotel Data Not Found
{'location': (-34.11, 18.83), 'keyword': 'strand', 'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyALtclN-jXfi6l7nS4QRehc-yBmIpwoBo0'}
Hotel Data Not Found
{'location': (36.97, -2.21), 'keyword': 'nijar', 'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyALtclN-jXfi6l7nS4QRehc-yBmIpwoBo0'}
Hotel Data Not Found
{'location': (39.37, 17.13), 'keyword': 'ciro marina', 'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyALtclN-jXfi6l7nS4QRehc-yBmIpwoBo0'}
Hotel Data Not Found
{'location': (39.47, -0.38), 'keyword': 'valencia', 'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyALtclN-jXfi6l7nS4QRehc-yBmIpwoBo0'}
Hotel Data Not Found
{'location': (47.46, 126.97), 'keyword': 'hailun', 'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyALtclN-jXfi6l7nS4QRehc-yBmIpwoBo0'}
Hotel Data Not Found
-------------------------
Data Retrieval Complete
-------------------------

In [44]:
hotel_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Temp,Lat,Lng,Wind Speed,Hotel Name
2,2,rikitea,0,PF,1569472690,71,71.65,-23.12,-134.97,8.99,default Value
5,5,hermanus,0,ZA,1569472690,23,72.00,-34.42,19.24,3.00,default Value
26,26,cayenne,0,GF,1569472692,94,75.20,4.94,-52.33,2.33,default Value
37,37,cape town,0,ZA,1569472661,66,73.00,-33.93,18.42,3.36,default Value
160,160,fortuna,0,ES,1569472507,88,71.01,38.18,-1.13,2.24,default Value
197,197,adrar,0,DZ,1569472710,10,78.80,27.87,-0.29,4.70,default Value
269,269,alice springs,0,AU,1569472717,29,78.80,-23.70,133.88,5.82,default Value
286,286,jiuquan,0,CN,1569472719,9,76.91,39.73,98.49,5.30,default Value
407,407,dabat,0,ET,1569472731,71,73.67,12.98,37.77,2.53,default Value
415,415,jalu,0,LY,1569472732,70,73.04,29.03,21.55,6.73,default Value
416,416,morondava,0,MG,1569472732,66,72.14,-20.30,44.28,9.01,default Value
425,425,garmsar,0,IR,1569472733,6,79.70,35.22,52.34,7.25,default Value
429,429,genhe,0,CN,1569472733,32,70.61,50.78,121.52,6.33,default Value
451,451,broken hill,0,AU,1569472736,16,75.20,-31.97,141.45,5.82,default Value
456,456,strand,0,ZA,1569472736,66,73.00,-34.11,18.83,3.36,default Value
463,463,nijar,0,ES,1569472737,64,72.00,36.97,-2.21,3.36,default Value
512,512,ciro marina,0,IT,1569472742,55,73.24,39.37,17.13,0.83,default Value
541,541,valencia,0,ES,1569472649,93,71.01,39.47,-0.38,2.24,default Value
548,548,hailun,0,CN,1569472745,44,71.92,47.46,126.97,5.41,default Value

In [45]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [48]:
# Add marker layer ontop of heat map
gmaps.configure(api_key=g_key)
fig = gmaps.figure()
heatmap_layer=gmaps.heatmap_layer(locations)
fig.add_layer(heatmap_layer)
# Add the layer to the map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig
# Display Map

Figure(layout=FigureLayout(height='420px'))